<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313643341647-92stuovlictnudn5sg63mpi5behq7fpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313643341647-92stuovlictnudn5sg63mpi5behq7fpk</string>
	<key>API_KEY</key>
	<string>AIzaSyB4b2h4BChnxCqGb0q4q_yDTBMQtmjUzE4</string>
	<key>GCM_SENDER_ID</key>
	<string>313643341647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itClass.BudgetPlanner</string>
	<key>PROJECT_ID</key>
	<string>budjet-planner-app</string>
	<key>STORAGE_BUCKET</key>
	<string>budjet-planner-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313643341647:ios:b71f3b7e8ab824626ed73a</string>
</dict>
</plist>